.container_block{
    padding: 20px;
    .viewbtnblock{
        margin-bottom: 5% !important;
    }
    .view_btn{
        background: #fa4041;
        color: #fff !important;
        border-radius:21px;
        float:right;
    }

}
