.block{    
    .box-block{
        background:#E5E8ED;
        box-shadow:none;
        border-radius:4px;
    }    
    .reviewBlock{
        hr{
            margin:1rem;
        }
        .is-size-7{
            color:#03106f;
        }

    }
}
