<div style="position: relative;top:1px">
  <button mat-raised-button color="primary" (click)="Expanding()">Expand All</button>
  <button mat-raised-button color="primary" (click)="collapsing()">Collapse All </button>
  <mat-select placeholder="Calender">
    <mat-option *ngFor="let Calende of Calenders" [value]="Calende.code" (onSelectionChange)="Calenderchange($event, Calende)">
      {{ Calende.name }}
    </mat-option>
  </mat-select>
  <!-- <button mat-raised-button color="primary" (click)="setScaleday()">Day scale</button>
  <button mat-raised-button color="primary" (click)="setScaleweek()">Week scale</button>
  <button mat-raised-button color="primary" (click)="setScalemonth()">Month scale</button>
  <button mat-raised-button color="primary" (click)="setScaleyear()">Year scale</button> -->
  <button mat-raised-button color="primary" (click)="renderer()">Refresh</button>
  <button mat-raised-button color="accent" (click)="Freeze()">Freeze Revise</button>
  <button mat-raised-button color="accent" (click)="LinkUpdate()">Link Update</button>
  <button mat-raised-button color="primary" (click)="Reset()">Reset</button>
</div>

<div #gantt_here style='width: 100%; height: 94%;'></div>
<ngu-modal [MIndex]="sampleText">
  <h4>Gantt Form</h4>
  <form [formGroup]="ganttForm" (ngSubmit)="save()">
    <mat-form-field>
      <mat-select formControlName="location" placeholder="location" [disabled]="true">
        <mat-option *ngFor="let emp of ProjectDescriptionDet" [value]="emp.Id">
          {{ emp.Description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="mainitem" placeholder="Main Item" [disabled]="true">
        <mat-option *ngFor="let emp of MainItemMasterDet" [value]="emp.MainItemId">
          {{ emp.MainItemName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="countval != 1">
      <input matInput formControlName="subitem" placeholder="Sub Item" [readonly]="true">
    </mat-form-field>
    <mat-form-field *ngIf="countval > 0">
      <input matInput formControlName="subsubitem" placeholder="Sub Sub Item" [readonly]="true">
    </mat-form-field>
    <mat-form-field (click)="picker.open()" *ngIf="countval > 2">
      <input matInput [matDatepicker]="picker" formControlName="start_date" placeholder="Revise Start Date">
      <!-- <input matInput [matDatepicker]="picker" formControlName="start_date" [disabled]="(setread == 1)" placeholder="Start Date"> -->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field (click)="picker1.open()" *ngIf="countval > 2">
      <input matInput [matDatepicker]="picker1" formControlName="end_date" [readonly]="true" placeholder="Revise End Date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="countval > 2">
      <input matInput formControlName="duration" placeholder="Duration" [readonly]="true">
    </mat-form-field>
    <mat-form-field *ngIf="countval <= 0">
      <!--   Successors -->

      <input matInput formControlName="Predec" placeholder="Predecessor" [disabled]="true">
    </mat-form-field>
    <mat-form-field *ngIf="countval > 2">
      <input matInput formControlName="dep" placeholder="Predecessor">
    </mat-form-field>
    <mat-form-field *ngIf="countval > 2">
      <mat-select matInput formControlName="Priority" placeholder="Condition(FS,SS,FF,SF)">
        <mat-option value="0">Finish To Start</mat-option>
        <mat-option value="1">Start To Start</mat-option>
        <mat-option value="2">Finish To Finish</mat-option>
        <mat-option value="3">Start To Finish</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <button type="submit" mat-raised-button color="primary" [disabled]="!ganttForm.valid || countval <= 2">Save</button>


    <button type="button" mat-raised-button color="accent" (click)="cancel()">Close</button>
  </form>
</ngu-modal>

<ngu-modal [MIndex]="sampleText1">
  <div class="mydesc">
    <mat-card>
      <div class="externalHeader">
        <h4>BOQ Revise 100% Completed Details</h4>
        <button type="submit" (click)="Freezesave()" mat-raised-button color="primary">Freeze</button>

        <button type="button" (click)="closeModal1()" mat-raised-button color="warn">Close</button>
      </div>
      <mat-list>
        <mat-list-item>
          <div class="mytableSel">
            <!-- <div class="innerTabl">MainItem</div> -->
            <div class="innerTabl">SubItem</div>
            <div class="innerTabl">SubSubItem</div>

            <div class="innerTabl">Start Date</div>
            <div class="innerTabl">End Date</div>
            <div class="innerTabl">Revise Start Date</div>
            <div class="innerTabl">Revise End Date</div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let list of boqrevcoplist">
          <div class="mytableSel">

            <div class="innerTabl">
              <mat-form-field>
                <input matInput [(ngModel)]="list.SubItem" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="innerTabl">
              <mat-form-field>
                <input matInput [(ngModel)]="list.SubSubItem" [readonly]="true">
              </mat-form-field>
            </div>

            <div class="innerTabl">
              <mat-form-field>
                <input matInput [(ngModel)]="list.start_date" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="innerTabl">
              <mat-form-field>
                <input matInput [(ngModel)]="list.end_date" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="innerTabl">
              <mat-form-field>
                <input matInput [readonly]="true" [(ngModel)]="list.revice_start_date">

              </mat-form-field>
            </div>
            <div class="innerTabl">
              <mat-form-field>
                <input matInput [readonly]="true" [(ngModel)]="list.revice_end_date">

              </mat-form-field>
            </div>
          </div>
        </mat-list-item>

      </mat-list>
    </mat-card>

  </div>



</ngu-modal>
