
.accordian_block{
    margin-bottom: 23px;
.accordion{
    border: 1px solid #8DD8FF;
    .accordion-item{
        .title{
            margin:0 !important;
            font-size:16px;
            font-weight:300;
            background:#fff;
            padding-bottom:27px;
            .title-block{
                height:33px;
                .Title{
                    span{
                        font-size:14px;
                        font-weight:400;
                    }
                }
                .collapseDropdown{
                    margin-right:0;
                    .downarrow{
                      position:relative;
                      top:-19px;
                      border-left: 1px solid #8DD8FF;
                      padding: 10px 0px;
                    }
                }
            }
        }
    }
    .accordion-item.active{
        
        .title{
        background:#fff;
        .title-block{
            .title-date{
              span{
                  color:#FF3278;
              }
            }
        }
        }
        .panel{
            max-height:1200px;
            background:#fff;
            hr{
                width: 96%;
                margin: 3px auto;
            }
        }
    }
}
}
.collapseDropdown{
    padding-top: 30px !important;
    margin: 0 30px;
}
.progressTab{
    span{
        width:28%;
        font-size:14px;
        padding-left:5px;
    }
}
.accordion .accordion-item .title:after{
    display:none;
}
