<button mat-fab color="primary" class="floatBtn" (click)="addlocation()"> Add</button>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>


  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="LocationName">
      <mat-header-cell *matHeaderCellDef> Location Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.LocationName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="example-icon" (click)="editlocation(element)" matTooltip="Edit">mode_edit</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>


<ngu-modal [MIndex]="sampleText">
  <h4 class="modalTile">{{modalTitle}}</h4>
  <form [formGroup]="locationForm" (ngSubmit)="locationSubmit()">

    <mat-form-field>
      <input matInput formControlName="LocationName" placeholder="Location Name">
    </mat-form-field>

    <div class="radioData">
      <mat-radio-group formControlName="Status">
        <mat-radio-button value="1">Active</mat-radio-button>
        <mat-radio-button value="0">InActive</mat-radio-button>
      </mat-radio-group>
    </div>
    <button type="submit" mat-raised-button color="primary" [disabled]="!locationForm.valid">Save</button>
    <button type="button" (click)="closeModal()" mat-raised-button color="warn">Close</button>
  </form>
</ngu-modal>
